# extends 'base.html'

# block content
<div class="header">
  <h1>Projects</h1>
</div>
  <div class="hero-unit" id="pystratego">
    <h2>pyStratego</h2>
    <h1>
      <img src="/p/img/pystratego.png">
    </h1>
    <br>
    <p>
      pyStratego is a cross-platform, online multiplayer version of the popular board game Ultimate Stratego. You (and up to 3 of your friends) can battle it out on the Stratego battlefield from the comfort of your computer chair. Built with the Pygame Python module, pyStratego is cross-platform and runs on Windows, Mac OS X, and Linux. pyStratego's networking capabilities are implemented using the XMPP network protocol. Don't mind the programmer art.
    </p>
    <h4>Download</h4>
    <h5><small><span class="label label-important">NOTE:</span> May have to "Run as Administrator" on Windows</small></h5>
    <ul>
      <li><a href="/p/pyStratego-0.3-win32.msi" target="_blank">Windows Installer</a></li>
      <li><a href="/p/pyStratego-win32-0.3.zip" target="_blank">Windows Executable</a></li>
      <li><a href="/p/pyStratego-source-0.3.zip" target="_blank">Source</a></li>
      <li><a href="https://github.com/effward/pystratego">GitHub Repo</a></li>
    </ul>
  </div>

  <div class="hero-unit" id="geistheist">
    <h2>Geist Heist</h2>
    <h1>
      <img src="/p/img/geistheist.png">
    </h1>
    <br>
    <p>
      A 2D isometric stealth action game developed in C# using the XNA framework by a team of 5 Cornell students. I was Project Lead and originally pitched the game concept. Features several levels with AI enemies that are entertaining to interact with. Includes a level editor, allowing players to build their own levels.
    </p>
    <h4>Download</h4>
    <h5><small><span class="label label-important">NOTE:</span> May have to "Run as Administrator" on Windows</small></h5>
    <ul>
      <li><a href="https://cornell.box.com/shared/static/qcs7bz5e73qq7o6byiq2.zip">Windows Installer (zip)</a></li>
    </ul>
  </div>

  <div class="hero-unit" id="tunetornado">
    <h2>Tune Tornado</h2>
    <h1>
      <img src="/p/img/tunetornado.png">
    </h1>
    <br>
    <p>
      Tune Tornado allows music enthusiasts to discover new music and recommend it to their friends, and if their friends buy, they get cash rewards. I worked with a team of Cornell students to develop the admin and artist interfaces for the Tune Tornado website. The website was built with Django and deployed on the Google App Engine.
    </p>
    <h4><a href="http://www.tunetornado.com">www.TuneTornado.com</a></h4>
  </div>
# endblock
