# extends 'base.html'

# block content
  <a href="/p/Andrew_Francis_resume_v3.pdf" target="_blank">Download Resume</a>
  <div class="row">
  <div class="row span6">
    <div class="span6">
      <h2>Skills</h2>
      <div class="row">
        <div class="span2">
          <b>Proficient With:</b>
          <ul>
            <li>C/C++/C#</li>
            <li>Python</li>
            <li>Java</li>
            <li>Ocaml</li>
            <li>MATLAB</li>
            <li>Visual Studio</li>
            <li>Vim</li>
            <li>Eclipse</li>
            <li>Unit Testing</li>
            <li>Agile Development</li>
            <li>Git</li>
            <li>Subversion</li>
            <li>XNAA</li>
            <li>Pygame</li>
            <li>Django</li>
            <li>Linux</li>
            <li>Mac OS X</li>
            <li>Windows</li>
            <li>Multithreaded Design</li>
         </ul>
        </div>
        <div class="span2">
          <b>Some Experience With:</b>
          <ul>
            <li>GLSL</li>
            <li>UDK</li>
            <li>Unity</li>
            <li>Javscript</li>
            <li>SQL</li>
            <li>Ruby</li>
            <li>HTML</li>
            <li>CSS</li>
            <li>XMPP</li>
            <li>Emacs</li>
            <li>Actionscript</li>
            <li>MIPS Assembly</li>
            <li>Flask (Python)</li>
            <li>OpenGL</li>
            <li>Mercurial</li>
            <li>Redmine</li>
            <li>Bugzilla</li>
            <li>JIRA</li>
            <li>Adobe Photoshop</li>
          </ul>
        </div>
      </div>
    </div>
    <div class="span6">
      <h2>Education</h2>
      <h4>BS, Computer Science <small>Cornell University</small></h4>
      <b>Interesting Courses:</b>
      <ul>
        <li>Interactive Computer Graphics <small>(CS 5625)</small></li>
        <li>Introduction to Computer Game Design <small>(CIS 3000)</small></li>
        <li>Human Perception: Applications to Computer Graphics <small>(COGST 3420)</small></li>
        <li>Foundations in Artificial Intelligence <small>(CS 4700)</small></li>
        <li>Introduction to Natural Language Processing <small>(CS 4740)</small></li>
        <li>Software Engineering <small>(CS 5150)</small></li>
        <li>Introduction to Database Systems <small>(CS 4320)</small></li>
      </ul>
    </div>
  </div>

  <div class ="row span6">
    <div class="span6">
      <h2>Jobs</h2>
      <div class="alert alert-info">
        <h4>Software Engineering Intern</h4>
        <a href="http://ww.elacarte.com"><span class="label label-info">E la Carte Inc.</span></a>
        <h5>May 2012 - August 2012  |  Palo Alto, CA</h5>
        <p>Developed a custom Point of Sale system that consisted of a Django-powered web application that interfaced with Star, Epson, and Bixolon receipt printers. This system allowed E la Carte to install tablets in restaurants that do not have POS systems, increasing the size of the target market.</p>
      </div>
      <div class="alert alert-success">
        <h4>Junior Software Engineer</h4>
        <a href="http://www.avtrex.com"><span class="label label-success">Avtrex</span></a>
        <h5>May 2010 - August 2011  |  San Jose, CA</h5>
        <p>Developed automated testing tools to increase the speed and coverage of test cases. Implemented a rudimentary scripting language to allow QA Engineers to quickly and easily write test cases.</p>
      </div>
      <div class="alert alert-info">
        <h4>Physics Computer Simulation Lab Assistant</h4>
        <a href="http://www.aep.cornell.edu/"><span class="label label-info">Cornell University</span></a>
        <h5>August 2009 - February 2011  |  Ithaca, NY</h5>
        <p>Maintained an Applied Physics lab with 20 computers, performing all necessary hardware and software fixes and upgrades, as well as setting up and cleaning up any experiments. Also assisted in developing physics experiments that interfaced with the computers.</p>
      </div>
      <div class="alert alert-success">
        <h4>Software QA Engineer</h4>
        <a href="http://www.avtrex.com"><span class="label label-success">Avtrex</span></a>
        <h5>June 2007 - May 2010  |  San Jose, CA</h5>
        <p>Tested PVR (personal video recorder) software running on Linux set top boxes. Responsibilities included creating test cases, verifying fixed bugs, identifying new bugs, and compiling detailed bug reports.</p>
      </div>
      <div class="alert alert-info">
        <h4>Lifeguard</h4>
        <a href="http://www.brooksideclub.com/"><span class="label label-info">Brookside Club</span></a>
        <h5>May 2006 - September 2007  |  Saratoga, CA</h5>
        <p>Certified in CPR, AED, and First-Aid. Watched over the swimmers at the swim club.</p>
      </div>
    </div>
    
  </div>
</div>

  <div class="hero-unit">
    <h1>
      <center><a href="{{url_for('portfolio')}}">Portfolio!</a></center>
    </h1>
  </div>
  <a href="/p/Andrew_Francis_resume_v3.pdf" target="_blank">Download Resume</a>
# endblock
