# extends 'base.html'

# block content
  <div class="hero-unit row span6">
    <div class="span2">
        <img src="/p/img/andrew-francis.png">
    </div>
    <div class="span3">
      <h1>
        Andrew Francis
      </h1>
      <h2>
        Programmer.
      </h2>
      <h2>
        Gamer.
      </h2>
      <h2>
        Nerd.
      </h2>
    </div>
  </div>

  <div class="row">
    <div class="span3">
      <h2>Skills</h2>
      <h4>
        <ul>
          <li>C/C++/C#</li>
          <li>Python</li>
          <li>Java</li>
          <li>Pygame</li>
          <li>Django</li>
          <li>XNAA</li>
          <li>Git</li>
        </ul>
      </h4>
    </div>
    <div class="span3">
      <h2>Links</h2>
     <h4>
        <ul>
          <li><a href="http://www.github.com/effward">Github</a></li>
          <li><a href="http://www.linkedin.com/in/andrewgfrancis">LinkedIn</a></li>
          <li><a href="https://www.codeeval.com/public/8c7d142793a6ea206fb70621fa6f608644810358/">CodeEval</a></li>
          <li><a href="{{url_for('resume')}}">Resume</a></li>
          <li><a href="{{url_for('portfolio')}}">Portfolio</a></li>
        </ul>
      </h4>
    </div>
  </div>
# endblock
